<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <!-- Disabilita la scansione TLD per performance -->
    <JarScanner>
        <JarScanFilter
            defaultTldScan="false"
            tldScan="false"/>
    </JarScanner>
    
    <!-- Forza il caricamento delle librerie Spring -->
    <Loader delegate="true"/>
</Context>